@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Thin.ttf'),
		url('../../fonts/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-ExtraLight.ttf'),
		url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Light.ttf'),
		url('../../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Regular.ttf'),
		url('../../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Medium.ttf'),
		url('../../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Bold.ttf'),
		url('../../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('../../fonts/Montserrat-Black.ttf'),
		url('../../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
