@media (hover: hover) {
	.navbar {
		&__links {
			a {
				&:hover {
					color: $main;
					text-shadow: 0 0 0.65px $main, 0 0 0.65px $main;
				}
			}
		}
	}
	.social {
		&:hover {
			i {
				color: $main;
				background-color: $secondary;
			}
		}
	}
	.btn {
		&:hover {
			background-color: white;
			color: $main;
		}
	}
	.product__quantity__btn {
		&:hover {
			background-color: $main;
			i {
				color: white;
			}
		}
	}
}
