.footer {
	background-color: $main;
	padding: 20px 0;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr 4fr 2fr;
		align-items: center;
		justify-items: inherit;
	}
	&__nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		column-gap: 25px;
		row-gap: 8px;
		margin: 0;
		a {
			font-size: 12px;
			line-height: 15px;
			color: $secondary;
			text-align: left;
		}
	}
	&__logo {
		display: grid;
		align-items: center;
		justify-items: flex-start;
	}
	&__other {
		display: grid;
		grid-template-columns: 1fr;
		align-content: flex-end;
		justify-items: flex-end;
		height: 100%;
	}
	&__politic {
		display: grid;
		grid-template-columns: 1fr;
		align-content: flex-end;
		justify-items: center;
		row-gap: 10px;
		a {
			font-weight: 700;
			font-size: 10px;
			line-height: 8px;
			color: $secondary;
		}
	}
	&__social {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-items: flex-end;
		column-gap: 20px;
	}
}
